header {
  background: #004225;
  margin-bottom: 1.45rem;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: white;
}

header div:not(:first-child) {
  margin-left:5px;
}

header ul {
  margin-bottom: 0;
}
header a:last-child li {
  margin-bottom: 0;
}


header div.bar {
  margin: 0 auto;
  max-width: 60;
  padding: 0.8rem 1.0875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header div.bar div:not(:first-child) {
  margin-left: auto;
}

header svg {
  fill: white;
}

header svg.icon {
  width: 20px;
  height: 20px;
}

header svg:hover {
  fill: white;
}