header {
  background: #004225;
  margin-bottom: 1.45rem;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: yellow;
}

header div:not(:first-child) {
  margin-left:5px;
}

header svg {
  width: 40px;
  height: 40px;
  fill: white;
}

header svg:hover {
  fill: yellow;
}